<h1>Your Expense Dashboard</h1>

<h3>Twój cel to: {{dashboard.target}}</h3>

{% for directorie in directories %}
    <div>
        <h3>{{ directorie.name }}</h3>
        <p>Amount: {{ directorie.amount }}</p>
    </div>
{% empty %}
    <p>Brak folderów.</p>
{% endfor %}

<button><a href="{% url 'earnings_form_without_directorie' dashboard_id=dashboard_id %}">Add earnings</a></button>

{% for earning in earnings %}
  <li>
    {{ earning.name }} -- {{ earning.money }}zł
  </li>
    <a href="{% url 'edit_earnings' pk=earning.pk %}">Edytuj,</a>
    <a href="{% url 'delete_earnings' pk=earning.pk %}">Usuń</a>
{% empty %}
  <p>Nie masz jeszcze żadnych danych</p>
{% endfor %}
<p>W sumie zarobiłeś {{ total_earnigs }}zł</p>

<button><a href="{% url 'expenses_form_without_directorie' dashboard_id=dashboard_id %}">Add expenses</a></button>
{% for expense in expenses %}
  <li>
    {{ expense.name }} -- {{ expense.cost }}zł
  </li>
    <a href="{% url 'edit_expenses' pk=expense.pk %}">Edytuj</a>
    <a href="{% url 'delete_expenses' pk=expense.pk %}">Usuń</a>
{% empty %}
  <p>Nie masz jeszcze żadnych danych</p>
{% endfor %}
<p>W sumie wydałeś {{ total_expenses }}zł</p>


<p>Your Balance {{ balance }}zł </p>