{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Dashboards</title>
    <link rel="stylesheet" type="text/css" href="{% static 'expenses/style.css' %}">
</head>
<body>
    <div class="list-container">
        <h2 class="list-title">Your Dashboards</h2>
        <ul>
            {% for dashboard in object_list %}
                <li class="list-item">
                    <a href="{% url 'dashboard' dashboard.id %}">{{ dashboard.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'createdashboard' %}" class="add-dashboard-btn">Add Dashboard</a>
    </div>
</body>
</html>
